<div class="container-filter">
        <div class="filter-name">
          <form action="/get-pokemon-by-name" method="post" class="form-filter-name">
            <div>
              <input type="text" name="name" id="name" class="form-control form-control-sm look-name name" placeholder="Enter a pokemon name"/>
            </div>
            <div>
              <button type="submit" class="btn btn-secondary btn-sm btn-filter btn-filter-name"><i class="fa-solid fa-magnifying-glass" style="color: #FFFFFF;"></i></button>
            </div>
          </form>
        </div>

        <div class="filter-region">
          <form action="/get-pokemons-by-regions" method="post" class="form-filter-region">
            <div>
              <select name="region" id="region" class="form-select form-select-sm look-region region">
                <option value="0">Select a region</option>
                {{#each regions}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
              </select>
            </div>
            <div>
              <button type="submit" class="btn btn-secondary btn-sm btn-filter btn-filter-region"><i class="fa-solid fa-magnifying-glass" style="color: #FFFFFF;"></i></button>
            </div>
          </form>
        </div>
      </div>

      {{#if getPokemon}}
      <div class="container">
        {{#if hasPokemon}}
              <div class="card">
                <img class="img-size" src="{{pokemon.photo}}" alt="" />
                <div class="card-body">
                  <p> Name: {{pokemon.name}}</p>
                  <p> Region: {{pokemon.region.dataValues.name}}</p>
                  <p> Type: {{pokemon.type.dataValues.name}}</p>
                </div>
          {{else}}
          <h4 class="noPokemons">Pokemon {{pokemonName}} was not found <i class="fa-regular fa-face-sad-tear"></i></h4>
        {{/if}}
      </div>
      {{else}}
        <div class="container">
          {{#if hasPokemons}}
            {{#each pokemons}}
                  <div class="card">
                    <img class="img-size" src="{{this.photo}}" alt="" />
                    <div class="card-body">
                      <p> Name: {{this.name}}</p>
                      <p> Region: {{this.region.dataValues.name}}</p>
                      <p> Type: {{this.type.dataValues.name}}</p>
                    </div>
                  </div>
              {{/each}}
          {{else}}
              <h4 class="noPokemons">There is not Pokemons <i class="fa-regular fa-face-sad-tear"></i></h4>
          {{/if}}
        </div>
      {{/if}}
</div>